/* Reset de estilos y configuración global */

/* Box-sizing */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Fonts */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Colores */
:root {
  --primary-color: #007bff; /* Color primario */
  --secondary-color: #6c757d; /* Color secundario */
  --background-color: #f8f9fa; /* Color de fondo */
  --text-color: #212529; /* Color de texto principal */
}

/* Estilos globales */
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Estilos específicos de la aplicación */
