<table class="table table-striped table-bordered table-hover w-50 p-3" style="margin-left: 350px;">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Icono</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Capital</th>
            <th>Población</th>
            <th> <!-- deja un espacio en blanco de momento --></th>
        </tr>
    </thead>
    <tbody class="tbody">
        @for (country of countries; track country) {
            <tr>
                <td>#</td>
                <td>{{country.flag}}</td>
                <td>
                    <img src="{{country.flags.png}}" alt="{{country.flags.alt}}"/>
                    
                </td>
                <td>{{country.name.common}}</td>
                <td>{{country.capital}}</td>
                <td>{{country.population}}</td>
                <td><a [routerLink]="['/country/countryPage/', country.ccn3]">Ver más...</a></td>
            </tr>
        }
    </tbody>
</table>