<ul class="menu-list">
    <img src="{{pokemon.imagen}}" (click)="clickEnImagen()"/>
    <li>Nombre: {{pokemon.nombre}}</li>
    <li>Categoría: <span *ngIf="pokemon.categoria; else na">{{pokemon.categoria}}</span></li>
    <li>Tipo: <span *ngIf="pokemon.tipo; else na">{{pokemon.tipo}}</span></li>
    <li>Talla: <span *ngIf="pokemon.talla; else na">{{pokemon.talla | number:'1.0-2' : 'es'}} m</span></li>
    <li>Peso: <span *ngIf="pokemon.peso; else na">{{pokemon.peso | number:'1.0-2' : 'es'}} Kg</span></li>
    <ng-template #na>N/A</ng-template>
</ul>