<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>
<body>
    <form action="/login" method="post">
        <h1>LOGIN</h1>
        <input type="email" name="email" placeholder="Pon tu email">
        <input type="password" name="password" placeholder="Pon tu contraseña">
        <button type="submit">Enviar</button>
        <p>Aun no tienes un usuario?<a href="/register">Registrate</a></p>
    </form>
</body>
</html>