<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
</head>
<body>
    <form action="/register" method="post">
        <h1>REGISTER</h1>
        <input type="text" name="name" placeholder="Pon tu nombre">
        <input type="password" name="password" id="Pon tu contraseña">
        <input type="email" name="email" id="Pon tu correo">
        <button type="submit">Registrarse</button>
        <p>Ya tienes un usuario?<a href="/login">Acceder</a></p>
    </form>
</body>
</html>