<div class="  text-white bg-dark"  id="barraLateral">

    <ul class="nav nav-pills flex-column mb-auto">
        <li>
          <a routerLink="/home" class="nav-link text-white" aria-current="page">
            <svg class="bi me-2" width="16" height="16"></svg>
            Home
          </a>
        </li>
        <li>
          <a routerLink="/about" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16"></svg>
            About
          </a>
        </li>
        <li>
          <a routerLink="/contact" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16"></svg>
            Contact
          </a>
        </li>
        <li>
          <a routerLink="/country/byCapitalPage" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16"></svg>
            ByCapital
          </a>
        </li>
        <li>
          <a routerLink="/country/byCountryPage" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16"></svg>
            ByCountry
          </a>
        </li>
        <li>
            <a routerLink="/country/byRegionPage" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16"></svg>
              ByRegion
            </a>
        </li>
      </ul>

</div>

